<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, soluta doloremque reiciendis, dolores molestiae doloribus et quia ullam possimus ex iure assumenda impedit voluptas magnam magni placeat praesentium dolorum id.</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> doug.xz&commat;hotmail.com</li>
                <li><i class="fa-solid fa-phone"></i> (31) 98434-1497</li>
                <li><i class="fa-brands fa-whatsapp"></i> +55 (31) 8434-1497</li>
            </ul>           
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Douglas de Sá - 2024
    </section>
</footer>
